@import './setup';
@import url('https://fonts.googleapis.com/css?family=Oswald|Righteous&display=swap');
@import './variablesNMixins';
@import './animation';

body {
    margin: 0;
    font-size: 120%;
    background: url(../images/yodaBackground.jpg);
    background-position: center;
    background-size: cover;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.chatArea {
    height: 25rem;
    overflow-y: scroll;
}

div.imageContainer {
    text-align: center;
}

img.yoda {
    width: 60%;
    margin: 0 auto;
    filter: drop-shadow(-8px -4px 6px springgreen);
    margin-top: 2rem;
}

ul {
    list-style: none;
    padding: 0 1rem;
}

h1,
h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 2rem 0 1rem 0;
    font-family: 'Righteous', cursive;
    color: $primaryLight;
    text-shadow: 4px 3px 0px $primaryDark;
    text-align: center;
}

p {
    font-family: 'Oswald', sans-serif;
}

p.description {
    color: $primaryLight;
    text-shadow: 2px 1px 0px $primaryDark;
    font-size: 1.5rem;
}


footer {
    background: $accentColor;
    text-align: center;
    p {
        margin: 0;
        font-size: .95rem;
    }
}


.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
}

.rotate {
  animation: rotation 8s infinite alternate linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-15deg);
  }
}

button {
    font-family: 'Righteous', cursive;
}

textarea,
input {
    background: #eae1e1;
}

.vibrate-2 {
	-webkit-animation: vibrate-2 0.3s linear infinite both;
    animation: vibrate-2 0.3s linear infinite both;
}

@include media(550px) {
    img.yoda {
        margin-top: .5rem;
    }
}

@include media(750px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 80.25vh;
        img.yoda {
            width: 80%;
        }
        p.description {
            width: 90%;
        }
    }
    
    h1 {
        font-size: 4rem;
    }

    div.imageContainer {
        flex-basis: 30%;
    }
}